@import '../mixins';
@import '../_colors';

//bike builder section-------------------------------------------------------------------------------------------------------

.bike-builder {
    background: radial-gradient(
        234.6% 38.29% at 52.08% 56.11%,
        $c-gray--900 0%,
        $c-gray--1000 100%
    );

    &__container {
        flex-direction: column;
    }

    &__title {
        color: $c-white;
    }

    &__inner {
        display: flex;
    }

    &__img {
        height: 65rem;
        width: 65rem;
        background: url('../assets/img/bike-builder.webp') center no-repeat;
    }

    &__parameters {
        @include centerPosition;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    &__name {
        font-size: 2.7rem;
        color: $c-white;
    }

    &__form {
        display: flex;
        gap: 1rem;
    }

    &__item {
        padding: 1rem;
        background-color: $c-gray--600;
    }

    // &__label {
    // }

    &__btn {
        padding: 1rem;
        background-color: $c-orange--500;
    }
}
