@import '../mixins';
@import '../_colors';
//bike slider-----------------------------------------------------------------------------------------------------------
.bike-slider {
    &__inner {
        flex-direction: column;
    }
    // &__title {
    // }

    &__wrapper {
        @include centerPosition;
        align-items: center;
    }

    &__btn {
        width: 1.6rem;
        height: 3rem;

        &--prev {
            background: url('../assets/icons/slider-btn-prev.svg') center
                no-repeat;
        }

        &--next {
            background: url('../assets/icons/slider-btn-next.svg') center
                no-repeat;
        }
    }

    &__container {
        //temporary
        max-width: 119.3rem;
        height: 35.5rem;
        position: relative;
        padding: 0 1rem;
        overflow: hidden;
    }

    &__list {
        width: 500rem; //temporary
        display: flex;
        gap: 2rem;
    }

    &__item {
        width: 28rem;
        height: 35.5rem;
        border-radius: 2rem;
    }

    // &__img {
    // }

    // &__name {
    // }

    &__price {
        font-size: 2.7rem;
        color: $c-orange--500;
    }
}
