@import '../mixins';
@import '../_colors';
// hero section--------------------------------------------------------------------------------------------------------

.hero {
    & > .container {
        flex-direction: row;
    }

    // &__text {
    // }

    &__name {
        color: $c-orange--900;
    }

    &__description {
        font-family: 'Roboto Slab';
        font-size: 4rem;
        color: $c-black;
    }

    &__btn {
        padding: 1rem 3rem;
        background-color: $c-orange--500;
    }

    &__img {
        width: 160rem;
        height: 80.1rem;
        background: url('../assets/img/bike-hero.webp') center/contain no-repeat;
    }
}