@import '../mixins';
@import '../_colors';
//why us section --------------------------------------------------------------------------------------------------------

// .why-us__title {
// }
.why-us__wrapper {
    display: flex;
}
// .why-us__column {
// }
// .benefits {
// }
// .benefits__item {
// }
// .benefits__name {
// }
// .benefits__text {
// }
// .why-us__img {
// }

.why-us {
    &__inner {
        flex-direction: column;
        justify-content: space-between;
    }

    // &__title {

    // }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    // &__column {
    // }

    &__img {
        width: 65rem;
        height: 38.4rem;
        background: url('../assets/img/why-us-bike-img.webp') center no-repeat;
    }
}

.benefits {
    padding: 0;
    &__item {
        padding-left: 7rem;
        position: relative;
        margin-bottom: 1rem;
        &:before {
            content:'';
            display: block;
            position: absolute;
            left: 0%;
            top: 50%;
            transform: translateY(-50%);
            width: 5rem;
            height: 5rem;
        }
      
        &--one:before {
            background: url('../assets/icons/why-us-one.svg') center no-repeat;
        }

        &--two:before {
            background: url('../assets/icons/why-us-two.svg') center no-repeat;
        }

        &--three:before {
            background: url('../assets/icons/why-us-three.svg') center no-repeat;
    
        }

        &--four:before {
            background: url('../assets/icons/why-us-four.svg') center no-repeat;
              
            }

        &--five:before {
            background: url('../assets/icons/why-us-five.svg') center no-repeat;
               
        }

        &--six:before {
            background: url('../assets/icons/why-us-six.svg') center no-repeat;
               
        }
    }

    &__name {
        font-size: 2.7rem;
    }

    &__text {
        color: $c-gray--900;
    }
}