@import '../mixins.scss';
.footer {
    display: flex;
    flex-direction: column;
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
}

.contacts__list {
    display: flex;
    gap: 1rem;
}

.footer__information {
    display: flex;
    justify-content: space-evenly;
}

// .mail-icon {
//     @include iconSise;
//     background: url('../assets/icons/gmail.svg') center no-repeat;
// }

// .facebook-icon {
//     @include iconSise;
//     background: url('../assets/icons/facebook.svg') center no-repeat;
// }

// .instagram-icon {
//     @include iconSise;
//     background: url('../assets/icons/instagram.svg') center
//         no-repeat;
// }

// .telegram-icon {
//     @include iconSise;
//     background: url('../assets/icons/telegram.svg') center no-repeat;
// }
