@import '../../../styles/mixins.scss';
@import '../../../styles/colors';

.bike-card {
    width: 23.9rem;
    height: 35.4rem;
    padding: 1rem;
    border: 0.1rem solid $c-gray--100;
    border-radius: 1rem;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    &__name {
        padding: 0 1rem;
        font-size: 1.8rem;
    }

    &__btn {
        width: 3.8rem;
        height: 3.8rem;
        background: url('../../../assets/icons/icon-cart-on-card.svg') center
            no-repeat $c-orange--800;
        border-radius: 1rem;
        cursor: pointer;

        &--selected {
            position: relative;
        }
    }

    &__btn-mark {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 0;
        background: url('../../../assets/icons/checkmark-icon.svg') center
            no-repeat $c-white;
        border-radius: 50%;
        border: 0.1rem solid $c-orange--800;
    }
}

.price {
    color: $c-orange--800;
    &__inner {
        display: flex;
        gap: 1rem;
    }

    &__to-discount {
        font-size: 1.4rem;
        text-decoration: line-through;
    }

    &__discount-percentage {
        width: 2.3rem;
        height: 1.4rem;
        display: inline-block;
        padding: 0.2rem;
        font-size: 1rem;
        color: $c-white;
        background-color: $c-black;
        border-radius: 1rem;
    }

    &__after-discount {
        font-size: 1.8rem;
        font-weight: 600;
    }
}
