$orange: #e5711d;
.hero-section {
  display: flex;
  justify-content: center;
  align-content: center;
}
.hero__choosing-btn {
    @include button(18.0431rem, 5.125rem, $orange);
  
    // &:hover {
  
    // }
  }

.hero__img {
  height: 48.3125rem;
  width: 50.625rem;
  background: url('../assets/img/bike-hero.svg') center no-repeat;
}