@import '../../../styles/mixins.scss';
@import '../../../styles/colors';

.footer {
    background-color: $c-orange--500;

    &__inner {
        flex-direction: column;
    }

    &__information {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 2rem;
    }

    &__column {
        color: $c-white;
        font-style: normal;
    }

    &__name {
        font-size: 3.2rem;
    }

    &__tel {
        font-size: 3.2rem;
    }

    // &__list {
    // }

    // &__item {
    // }

    &__link {
        font-size: 2.7rem;
    }

    &__details {
        font-size: 2.4rem;
        line-height: 1.17;
    }

    &__data {
        display: flex;
        justify-content: space-between;
    }

    &__copy-right {
        grid-row: 2;
        font-size: 2.7rem;
        color: $c-gray--900;
    }
}

.contacts {
    &__list {
        display: flex;
        gap: 2rem;
    }

    // &__item {
    // }

    &__link {
        width: 3rem;
        height: 3rem;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;

        &--mail {
            background-image: url('../../../assets/icons/gmail.svg');
        }

        &--facebook {
            background-image: url('../../../assets/icons/facebook.svg');
        }

        &--instagram {
            background-image: url('../../../assets/icons/instagram.svg');
        }

        &--telegram {
            background-image: url('../../../assets/icons/telegram.svg');
        }
    }
}

.payment-methods {
    &__list {
        display: flex;
        gap: 2rem;
    }

    // &__item {
    // }

    &__link {
        width: 7.5rem;
        height: 3rem;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;

        &--google {
            background-image: url('../../../assets/icons/google-pay.svg');
        }

        &--apple {
            background-image: url('../../../assets/icons/apple-pay.svg');
        }

        &--visa {
            background-image: url('../../../assets/icons/visa.svg');
        }

        &--master {
            background-image: url('../../../assets/icons/master-card.svg');
        }
    }
}