@import '../../../styles/mixins.scss';
@import '../../../styles/colors';

.reviews {
    &__inner {
        flex-direction: column;
    }
}

.reviews-slider {
    @include centerPosition;
    align-items: center;

    &__btn {
        width: 1.6rem;
        height: 3rem;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

        &--prev {
            padding-right: 1rem;
            background-image: url('../../../assets/icons/slider-btn-prev.svg');
        }

        &--next {
            padding-left: 1rem;
            background-image: url('../../../assets/icons/slider-btn-next.svg');
        }
    }

    &__container {
        //temporary
        width: 121.3rem;
        height: 22rem;
        position: relative;
        padding: 0 1rem;
        overflow: hidden;
    }
}
