@import '../mixins.scss';
@import '../_colors';

.footer {
    background-color: $c-orange--500;

    &__inner {
        flex-direction: column;
    }

    &__information {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 2rem;
    }

    &__column {
        color: $c-white;
        font-style: normal;
    }

    &__name {
        font-size: 3.2rem;
    }

    &__tel {
        font-size: 3.2rem;
    }

    // &__list {
    // }

    // &__item {
    // }

    &__link {
        font-size: 2.7rem;
    }

    &__details {
        font-size: 2.4rem;
        line-height: 1.17;
    }

    &__data {
        display: flex;
        justify-content: space-between;
    }

    &__copy-right {
        grid-row: 2;
        font-size: 2.7rem;
        color: $c-gray--900;
    }
}

.contacts {
    &__list {
        display: flex;
        gap: 2rem;
    }

    // &__item {
    // }

    &__link {
        width: 3rem;
        height: 3rem;
        display: inline-block;
    }

    &__link--mail {
        background: url('../assets/icons/gmail.svg') center no-repeat;
    }

    &__link--facebook {
        background: url('../assets/icons/facebook.svg') center no-repeat;
    }

    &__link--instagram {
        background: url('../assets/icons/instagram.svg') center no-repeat;
    }

    &__link--telegram {
        background: url('../assets/icons/telegram.svg') center no-repeat;
    }
}

.payment-methods {
    &__list {
        display: flex;
        gap: 2rem;
    }

    // &__item {
    // }

    &__link {
        width: 7.5rem;
        height: 3rem;
        display: inline-block;
    }

    &__link--google {
        background: url('../assets/icons/google-pay.svg') center no-repeat;
    }

    &__link--apple {
        background: url('../assets/icons/apple-pay.svg') center no-repeat;
    }

    &__link--visa {
        background: url('../assets/icons/visa.svg') center no-repeat;
    }

    &__link--master {
        background: url('../assets/icons/master-card.svg') center no-repeat;
    }
}
