@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_colors.scss';
@import '../../../../styles/_fonts.scss';
@import '../../../../styles/_vars';

.full-cart {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 4rem;
    border-top: $gray-border;

    &__container {
       flex-direction: column;
       gap: 8rem;
    }

    &__btns {
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        padding: 1.4rem 1.86rem;
        font-family: 'Open Sans semi-bold';
        font-size: 2.4rem;

        &--continue {
            color: $c-orange--800;
            border: 0.2rem solid $c-orange--800;
        }

        &--order {
            padding: 1.5rem 0.98rem;
            background-color: $c-orange--800;
        }
    }
}