@import '../../../styles/mixins.scss';
@import '../../../styles/colors';


.why-us__wrapper {
    display: flex;
}

.why-us {
    &__inner {
        flex-direction: column;
        justify-content: space-between;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        width: 65rem;
        height: 38.4rem;
        background: url('../../../assets/img/why-us-bike-img.webp') center no-repeat;
    }
}