@import '../../../styles/mixins.scss';
@import '../../../styles/colors';

.header {
    &__inner {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__actions {
        display: flex;
        gap: 2rem;
    }
}

.nav {
    flex: 1;
    display: flex;
    justify-content: center;

    &__list {
        display: flex;
        gap: 4rem;
        list-style: none;
        margin: 0;
    }

    &__link {
        font-size: 2.7rem;
        color: $c-gray--600;
    }
}

.actions {
    &__btn {
        width: 3.2rem;
        height: 3.2rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;

        &--search {
            background-image: url('../../../assets/icons/search.svg');
        }

        &--cart {
            position: relative;
            background: url('../../../assets/icons/cart.svg');
        }
    }

    &__count-order {
        width: 2.8rem;
        height: 2.8rem;
        position: absolute;
        bottom: 1rem;
        font-size: 1.8rem;
        color: $c-white;
        background-color: $c-orange--800;
        border-radius: 50%;
    }
}
