@import '../../../styles/mixins.scss';
@import '../../../styles/colors';

.header {
    &__inner {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__actions {
        display: flex;
        gap: 2rem;
    }
}

// .logo {
// }
.nav {
    flex: 1;
    display: flex;
    justify-content: center;

    &__list {
        display: flex;
        gap: 4rem;
        list-style: none;
        margin: 0;
    }

    // &__item {
    // }

    &__link {
        font-size: 2.7rem;
        color: $c-gray--600;
    }
}

.actions {
    &__btn {
        height: 3.2rem;
        width: 3.2rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;

        &--search {
            background-image: url('../assets/icons/search.svg');
        }

        &--cart {
            background: url('../assets/icons/cart.svg');
        }
    }
}
