$c-white: #ffffff;
$c-gray--93: #ededed;
$c-gray--200: #ece7e4;
$c-gray--400: #a09087;
$c-gray--600: #6d625a;
$c-gray--900: #554d47;
$c-gray--1000: #312E2C;
$c-orange--300: #fb8a2e;
$c-orange--500: #e5711d;
$c-orange--900: #c55c10;
$c-black: #000000;

$c-brown--900: #453e38;
$c-orange--800: #ff6f1e;
