html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 2.4rem;
    color: $c-brown--900;
    background-color: $c-white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.container {
    max-width: 131.4rem;
    display: flex;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.title {
    font-family: 'Oswald Medium', serif;
    font-size: 6rem;
    text-align: center;
}

