@charset "UTF-8";
:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: inherit;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/*SCSS-змінні*/
/*SCSS-змінні*/
.header > .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__actions {
  display: flex;
  gap: 2rem;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: center;
}
.nav__list {
  display: flex;
  gap: 4rem;
  list-style: none;
  margin: 0;
}
.nav__link {
  font-size: 2.7rem;
  color: #6d625a;
}

.actions__btn {
  cursor: pointer;
}
.actions__btn--search {
  height: 3.2rem;
  width: 3.2rem;
  background: url("../assets/icons/search.svg") center no-repeat;
}
.actions__btn--cart {
  height: 3.2rem;
  width: 3.2rem;
  background: url("../assets/icons/cart.svg") center no-repeat;
}

/*SCSS-змінні*/
.hero > .container {
  flex-direction: row;
}
.hero__name {
  color: #c55c10;
}
.hero__description {
  font-family: "Roboto Slab";
  font-size: 4rem;
}
.hero__btn {
  padding: 1rem 3rem;
  background-color: #e5711d;
}
.hero__img {
  width: 160rem;
  height: 80.1rem;
  background: url("../assets/img/bike-hero.jpg") center/contain no-repeat;
}

#bike-builder {
  background: radial-gradient(circle, #554d47, #312e2c);
}

.bike-builder__title {
  color: #ffffff;
}
.bike-builder__inner {
  display: flex;
}
.bike-builder__img {
  height: 65rem;
  width: 65rem;
  background: url("../assets/img/bike-builder.png") center no-repeat;
}
.bike-builder__parameters {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.bike-builder__name {
  font-size: 2.7rem;
  color: #ffffff;
}
.bike-builder__buttons > form {
  display: flex;
  gap: 1rem;
}
.bike-builder__item {
  padding: 1rem;
  background-color: #877a71;
}
.bike-builder__btn {
  padding: 1rem;
  background-color: #e5711d;
}

.bike-slider__inner {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.bike-slider__btn {
  width: 1.6rem;
  height: 3rem;
}
.bike-slider__container {
  max-width: 119.3rem;
  height: 35.5rem;
  position: relative;
  padding: 0 1rem;
  overflow: hidden;
}
.bike-slider__list {
  width: 500rem;
  display: flex;
  gap: 2rem;
}

.bike-slider--prev {
  background: url("../assets/icons/slider-btn-prev.svg") center no-repeat;
}

.bike-slider--next {
  background: url("../assets/icons/slider-btn-next.svg") center no-repeat;
}

.bike-slider__item {
  width: 28rem;
  height: 35.5rem;
  border-radius: 2rem;
}
.bike-slider__price {
  font-size: 2.7rem;
  color: #e5711d;
}

.why-us__wrapper {
  display: flex;
}

.why-us > .container {
  justify-content: space-between;
}
.why-us__wrapper {
  display: flex;
  justify-content: space-between;
}
.why-us__img {
  width: 65rem;
  height: 38.4rem;
  background: url("../assets/img/why-us-bike-img.jpg") center no-repeat;
}

.benefits {
  padding: 0;
}
.benefits__item {
  padding-left: 7rem;
  position: relative;
  margin-bottom: 1rem;
}
.benefits__item:nth-child(1):before {
  content: url("../assets/icons/why-us-one.svg");
  display: block;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
}
.benefits__item:nth-child(2):before {
  content: url("../assets/icons/why-us-two.svg");
  display: block;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
}
.benefits__item:nth-child(3):before {
  content: url("../assets/icons/why-us-three.svg");
  display: block;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
}
.benefits__item--second:nth-child(1):before {
  content: url("../assets/icons/why-us-four.svg");
  display: block;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
}
.benefits__item--second:nth-child(2):before {
  content: url("../assets/icons/why-us-five.svg");
  display: block;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
}
.benefits__item--second:nth-child(3):before {
  content: url("../assets/icons/why-us-six.svg");
  display: block;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
}
.benefits__name {
  font-size: 2.7rem;
}
.benefits__text {
  color: #554d47;
}

.reviews-btn--prev {
  background: url("../assets/icons/slider-btn-prev.svg") center no-repeat;
}
.reviews-btn--next {
  background: url("../assets/icons/slider-btn-next.svg") center no-repeat;
}

.slider {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.slider__btn {
  width: 1.6rem;
  height: 3rem;
}
.slider__container {
  width: 121.3rem;
  height: 22rem;
  position: relative;
  padding: 0 1rem;
  overflow: hidden;
}
.slider__list {
  width: 500rem;
  display: flex;
  gap: 2rem;
}
.slider__item {
  width: 59.153rem;
  height: 20rem;
  display: flex;
}
.slider__text {
  border: 0.1rem solid #6d625a;
  border-radius: 0 1rem 1rem 0;
}
.slider__name {
  font-size: 2.7rem;
}
.slider__stars {
  width: 12.5rem;
  height: 2.5rem;
  background: url("../assets/icons/star.svg") repeat-x;
}
.slider__description {
  font-size: 2.7rem;
  color: #554d47;
}

/*SCSS-змінні*/
.footer {
  background-color: #e5711d;
}
.footer > .container {
  flex-direction: column;
  padding: 2rem 0rem;
}
.footer__information {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}
.footer__column {
  color: #ffffff;
}
.footer__name {
  font-size: 3.2rem;
}
.footer__link {
  font-size: 2.7rem;
}
.footer__data {
  display: flex;
  justify-content: space-between;
}
.footer__copy-right {
  grid-row: 2;
  font-size: 2.7rem;
  color: #554d47;
}

.contacts__list {
  display: flex;
  gap: 2rem;
}

.cards__list {
  display: flex;
  gap: 2rem;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../assets/fonts/RobotoCondensed-Regular.woff") format("woff"), url("../assets/fonts/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Kyiv Type Serif";
  src: url("../assets/fonts/KyivTypeSerif-Medium.woff") format("woff"), url("../assets/fonts/KyivTypeSerif-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url("../assets/fonts/RobotoSlab-Regular.woff") format("woff"), url("../assets/fonts/RobotoSlab-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed";
  font-size: 2.4rem;
  color: #000000;
}

.container {
  max-width: 128.4rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.titles {
  font-family: "Kyiv Type Serif";
  font-size: 6rem;
  text-align: center;
}

.btn {
  font-size: 2.7rem;
  text-align: center;
  color: #ffffff;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
.btn:hover {
  transform: scale(1.05);
}/*# sourceMappingURL=index.css.map */