@import '_reset';
@import 'mixins';
@import './header/_header';
@import './main/main';
@import './footer/_footer';

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/RobotoCondensed-Regular.woff') format('woff'),
        url('../assets/fonts/RobotoCondensed-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Kyiv Type Serif';
    src: url('../assets/fonts/KyivTypeSerif-Medium.woff') format('woff'),
        url('../assets/fonts/KyivTypeSerif-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../assets/fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../assets/fonts/RobotoSlab-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

$background-white: #ffffff;
$text-dark: #000000;
$text-light: #6d625a;
$text-orange: #c55c10;
$btn-color: #877a71;
$orange: #e5711d;
$background-gradient: #554d47;
$background-dark: #312e2c;

html {
    box-sizing: border-box;
    // я використовую  px to rem який автоматично переводить в rem- тому такі цифри - переправила на 10px
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed';
    font-size: 2.4rem;
    color: $text-dark;
    $background-white: #ffffff;
}

.container {
    max-width: 128.4rem;
    @include centerPosition;
    flex-direction: column;
    margin: 0 auto;
}

.titles {
    font-family: 'Kyiv Type Serif';
    font-size: 6rem;
    text-align: center;
}

.btn {
    font-size: 2.7rem;
    text-align: center;
    color: $background-white;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.4s ease-out;

    &:hover {
        transform: scale(1.05);
    }
}
