@import '../../../styles/mixins.scss';
@import '../../../styles/colors';

.bike-slider {
    &__inner {
        flex-direction: column;
    }
    // &__title {
    // }

    &__wrapper {
        @include centerPosition;
        align-items: center;
    }

    &__btn {
        width: 1.6rem;
        height: 3rem;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

        &--prev {
            padding-right: 2rem;
            background-image: url('../../../assets/icons/slider-btn-prev.svg');
        }

        &--next {
            padding-left: 2rem;
            background-image: url('../../../assets/icons/slider-btn-next.svg');
        }
    }

    &__container {
        //temporary
        max-width: 119rem;
        height: 35.5rem;
        position: relative;
        padding: 0 1rem;
        overflow: hidden;
    }

    &__list {
        width: 300rem; //temporary
        display: flex;
        gap: 2rem;
    }

    &__item {
        width: 28rem;
        height: 35.5rem;
        border-radius: 2rem;
    }
}