@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_colors.scss';
@import '../../../../styles/_fonts.scss';

.promo-code {
display: flex;
justify-content: space-between;
padding: 4rem 8rem;
    // &__label {
    // }

    &__input {
        padding: 1rem;
        border-radius: 1rem;
        border: 0.1rem solid $c-gray--100;
    }

    &__btn {
        padding: 1rem 3rem;
        color: $c-orange--800;
        border: 0.2rem solid $c-orange--800;
    }
}